.body {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 10px 0;
  margin: 0 auto;
}

.filter {
  margin: 20px 0;
  font-size: 20px;
  align-self: center;
}

.top-rated {
  padding: 0 8px;
  font-weight: 600;
  cursor: pointer;
  background-color: orange;
  border-radius: 6px;
}

.restaurant-layout{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}