* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000000;
}

.logo-title {
  font-size: 48px;
  color: #ffa500;
  padding: 10px;
}

.nav-bar > ul {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style-type: none;
  align-items: center;
}

.nav-bar > ul > li {
  font-size: 20px;
  text-transform: capitalize;
}

.nav-bar > ul > li:hover {
  color: #ffa500;
}

.log-status {
  border: none;
  padding: 0 6px;
  color: orange;
  background-color: #f0f0f0;
  text-transform: capitalize;
  font-size: 24px;
  border-radius: 8px;
}

.log-status:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}
