.restaurant {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgb(0, 0, 0, 0.02);
}

.restaurant:hover {
  transform: scale(0.96);
  background-color: rgb(0, 0, 0, 0.08);
}

.restaurant-image {
  border-radius: 16px;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 2px 6px);
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
  padding-left: 3%;
  line-height: 1.2;
  gap: 4px;
  font-size: 16px;
}

.restaurant-name {
  font-size: 22px;
}

.restaurant-rating {
  display: flex;
  gap: 12px;
}

.promoted-restaurant {
  position: absolute;
  background-color: orange;
  z-index: 1;
  font-size: 20px;
  padding: 2px 8px;
  border-radius: 6px;
}
